extends layout.pug

block content
	include mixins.pug
	

	.slides
		+background
		.contents
			.title
				p.title__main Розулип
					sup.title__main__r ®
				p.title__sub
					| Легко на сердце от чистых сосудов
			
			+gramps--sad
			+pill
			
			a.nav.nav--prev(href="#")
				+arrow
			a.nav.nav--next(href="#")
				+arrow
			
			.range
				.figures-wrapper
					+figures
				input.figures-input(type="range", value=1, min=1, max=21, step=1)
			
			.time
				+check-button
					+day-button
					+day-button--active
				+check-button
					+week-button
					+week-button--active
				+check-button
					+month-button
					+month-button--active
			
			
		
